body {
  background-image: url('/public/img/space.jpg');
  background-size: cover;
  color: #f0f0f0; 
  font-family: 'Star Jedi', sans-serif;
}

.custom-title {
  color: #ffe81f;
  font-family: 'Star Jedi', sans-serif; 
}


.custom-card {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f0f0f0; 
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card-title {
  color: #ffe81f; 
}

.custom-accordion-header {
  color: #ffe81f;
}

.spinner-border {
  color: #ffe81f; 
}

p, ul {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #ffe81f; 
}

a:hover {
  text-decoration: none;
  color: #ffd000; 
}
